<mat-card> 
    <button mat-raised-button class="btn btn-primary"
        matTooltip="go back to items"
        aria-label="Button that displays a tooltip when focused or hovered over"
        [routerLink]="'/items'">Items
   </button>
</mat-card>

