<mat-card>
    <h1>Classify a document</h1>
    <form #classifyForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <mat-form-field style="width: 400px;" appearance="outline">
            <textarea
                matInput placeholder="Insert here an article for classification"
                [(ngModel)] = "text"
                name = "text"
                cdkTextareaAutosize
                cdkAutosizeMinRows="15"
                cdkAutosizeMaxRows="20"
                required #content                           
            >
            </textarea>     
        </mat-form-field>                  
        <div >
            <button mat-raised-type="button" class="btn btn-primary" type="submit"
            [disabled]="!classifyForm.form.valid">Classify</button>
        </div>
      </div>
    </form>






</mat-card>
