<!-- <mat-card>
    <button mat-raised-button class="btn btn-primary"
    matTooltip="create a new item"
    aria-label="Button that displays a tooltip when focused or hovered over"
    [routerLink]="'/item'">Item
</button>
</mat-card> -->
<mat-card>
<mat-accordion>
<div class="row">
  <div class=" alert alert-success" role="alert">
    You successfully connected, great to see you again.
  </div>
    <div class="col-xs-10">
      <app-item></app-item>
      <h3>My Item List</h3>
      <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let item of items$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
          <p> We bought - </p>  
           {{item.name}}
          <p>and the price is :{{ item.price|currency:'₪' }}</p>
          </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-raised-button color="primary"
           [routerLink]="'/item/'+item.id">Edit</button>
           <button mat-raised-button color="danger" 
           (click)="deleteItem(item.id)">Delete item</button>
      <!-- <ul class="list-group">
        <a class="list-group-item"
          style="cursor: pointer"
           *ngFor="let item of items$ | async">
           We bought a "{{ item.name }}" and the price is :{{ item.price|currency:'₪' }}
        </a>
      </ul> -->
    </mat-expansion-panel>
    </div>
  </div>
</mat-accordion>
</mat-card>