<p>Below will be your collection, if its empty so your collection is empty </p>
<div class="container">
    <mat-accordion>
        <p *ngIf= "!(articles$ | async)"  >Loading...</p>
          <mat-expansion-panel *ngFor = "let article of articles$ | async" >  <!-- רישום לאובסרבל -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{article.content}}
          </mat-panel-title>
        </mat-expansion-panel-header> 
        Category: {{article.category}}<br><br>
        <button mat-raised-button color="primary" (click)="deleteArticle(article.id)" >Delete</button>
        <!-- צריך לזכור לפתוח ניתוב עבור עריכה של מאמר באפ מודל  -->
        <button mat-raised-button color="primary"  [routerLink]="'/article_edit/'+article.id" >Edit</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
  
  
  
  