<mat-card>
        <br><h1>Authentication</h1>   
             <div class="alert alert-danger" *ngIf="error">
               <p>{{error}}</p>
             </div>
             <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
               <mat-form-field>
                   <input matInput placeholder="Your email" name="email" [(ngModel)]="email" required email>
               </mat-form-field><br>
               <mat-form-field>
                     <input matInput placeholder="Password" name="password" [(ngModel)]="password" required minlength="6" >
               </mat-form-field><br>
               <div>
                 <button class="btn btn-primary" [disabled]="!signUpForm.form.valid"
                  type="submit">{{isLoginMode? 'Login' :'Sign Up'}}</button> |
                 <button class="btn btn-primary" (click)="onSwitchMode()"
                  type="button">Switch to {{isLoginMode? 'Sign Up' :'Login'}}</button>
               </div>
             </form>
</mat-card>