<mat-card>
    <br><h3>{{dynamicTitle}}</h3>
    <form #ItemForm="ngForm" (ngSubmit)="sendForm()">
      <div class="example-container">
        <mat-form-field>
          <input type="text" matInput placeholder="Name item" name="nameItem" [(ngModel)]="nameItem" required #name>
        </mat-form-field><br>
        <mat-form-field>
            <input type="number" matInput placeholder="Item price" name="priceItem" [(ngModel)]="priceItem" required #price>
        </mat-form-field>
        <span class="help-block" *ngIf="!price.valid && price.touched "></span>
        <br><button mat-raised-type="button" class="btn btn-primary" type="submit"
         [disabled]="!ItemForm.form.valid">{{dynamicButtonValue}}</button>
         <button  mat-raised-type routerLink= "/items" class="btn btn-secondary" >cancel</button>
        <!--<button mat-raised-button color="primary" [disabled]="!bookForm.form.valid">{{buttonText}}</button>
        <button mat-raised-type routerLink= "/books" class="btn btn-secondary">cancel</button>--> 
      </div>
    </form>
</mat-card>

