<mat-card>
<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar *ngIf = "categoryImage"> 
           <img [src] = "categoryImage"> 
        </div>
        <mat-card-title>Your article belongs to: {{category}} category</mat-card-title>
    </mat-card-header>
        <b>This is your article: </b><br><br>
        <p>
          {{classificationService.doc}}
        </p>
        <mat-card-actions>
            <br><br>
            If you dont agree select the best option:
            <br>
            <mat-form-field>
              <mat-label>{{category}}</mat-label>
              <mat-select [(value)]="selected">
                <mat-option value="{{classificationService.categories[0]}}">{{classificationService.categories[0]}}</mat-option>
                <mat-option value="{{classificationService.categories[1]}}">{{classificationService.categories[1]}}</mat-option>
                <mat-option value="{{classificationService.categories[2]}}">{{classificationService.categories[2]}}</mat-option>
                <mat-option value="{{classificationService.categories[3]}}">{{classificationService.categories[3]}}</mat-option>
                <mat-option value="{{classificationService.categories[4]}}">{{classificationService.categories[4]}}</mat-option>
              </mat-select>
            </mat-form-field>
            
            <p>You selected: {{selected}}</p>
            <br>
            <button mat-raised-button color="primary" [disabled]="!classificationService.doc" (click)="saveClassification()">Save</button>
          </mat-card-actions>
        </mat-card>
    </mat-card>
      
      
